### The code is to filter module BBB for vle.csv file

In [1]:
# Import pandas library
import pandas as pd

In [2]:
root_path = 'D:/Data Projects/Data Analyst Imperial College/Uploaded Doc'

In [3]:
# Create a dataframe and import data
df = pd.read_csv(f'{root_path}/OULAD_raw/vle.csv')
df.count()

id_site              6364
code_module          6364
code_presentation    6364
activity_type        6364
week_from            1121
week_to              1121
dtype: int64

In [4]:
# List values under the code_module to check modules
df.code_module.unique()

array(['AAA', 'BBB', 'CCC', 'DDD', 'EEE', 'FFF', 'GGG'], dtype=object)

In [5]:
# Have a general idea of the data
df.head()

   id_site code_module code_presentation activity_type  week_from  week_to
0   546943         AAA             2013J      resource        NaN      NaN
1   546712         AAA             2013J     oucontent        NaN      NaN
2   546998         AAA             2013J      resource        NaN      NaN
3   546888         AAA             2013J           url        NaN      NaN
4   547035         AAA             2013J      resource        NaN      NaN

In [6]:
# Null value in week_from means the vle material is not used
df_non_null = df.dropna()
df_non_null.count()

id_site              1121
code_module          1121
code_presentation    1121
activity_type        1121
week_from            1121
week_to              1121
dtype: int64

In [7]:
# Create BBB module file
df_BBB = df_non_null[df_non_null['code_module'] == 'BBB']
df_BBB.count()

id_site              186
code_module          186
code_presentation    186
activity_type        186
week_from            186
week_to              186
dtype: int64

In [8]:
# Show the cleansed data
df_BBB.head()

     id_site code_module code_presentation activity_type  week_from  week_to
729   704084         BBB             2013J      resource        9.0      9.0
730   703951         BBB             2013J       subpage       11.0     11.0
731   704116         BBB             2013J      resource       22.0     22.0
738   704081         BBB             2013J      resource        6.0      6.0
739   703948         BBB             2013J       subpage        8.0      8.0

In [9]:
# Save the filtered data to a new CSV file
df_BBB.to_csv(f'{root_path}/OULAD_BBB_clean/vle_BBB.csv', index=False)

In [10]:
# Save the filtered data to a new parquet file for Power BI
df_BBB.to_parquet(f'{root_path}/OULAD_BBB_clean/vle_BBB.parquet', index=False)