### The code is to filter module BBB for assessments.csv file

In [1]:
# Import pandas library
import pandas as pd

In [2]:
root_path = 'D:/Data Projects/Data Analyst Imperial College/Uploaded Doc'

In [3]:
# Create a dataframe and import data
df = pd.read_csv(f'{root_path}/OULAD_raw/assessments.csv')
df.count()

code_module          206
code_presentation    206
id_assessment        206
assessment_type      206
date                 195
weight               206
dtype: int64

In [4]:
# List values under the code_module to check modules
df.code_module.unique()

array(['AAA', 'BBB', 'CCC', 'DDD', 'EEE', 'FFF', 'GGG'], dtype=object)

In [5]:
# Have a general idea of the data
df.head()

  code_module code_presentation  id_assessment assessment_type   date  weight
0         AAA             2013J           1752             TMA   19.0    10.0
1         AAA             2013J           1753             TMA   54.0    20.0
2         AAA             2013J           1754             TMA  117.0    20.0
3         AAA             2013J           1755             TMA  166.0    20.0
4         AAA             2013J           1756             TMA  215.0    30.0

In [6]:
# Create BBB module file
df_BBB = df[df['code_module'] == 'BBB']
df_BBB.count()

code_module          42
code_presentation    42
id_assessment        42
assessment_type      42
date                 38
weight               42
dtype: int64

In [7]:
# Show the cleansed data
df_BBB.head()

   code_module code_presentation  id_assessment assessment_type   date  weight
12         BBB             2013B          14991             CMA   54.0     1.0
13         BBB             2013B          14992             CMA   89.0     1.0
14         BBB             2013B          14993             CMA  124.0     1.0
15         BBB             2013B          14994             CMA  159.0     1.0
16         BBB             2013B          14995             CMA  187.0     1.0

In [8]:
# Save the filtered data to a new CSV file
df_BBB.to_csv(f'{root_path}/OULAD_BBB_clean/assessments_BBB.csv', index=False)

In [9]:
# Save the filtered data to a new parquet file for Power BI
df_BBB.to_parquet(f'{root_path}/OULAD_BBB_clean/assessments_BBB.parquet', index=False)