### The code is to filter module BBB for studentVle.csv file

In [1]:
# Import pandas library
import pandas as pd

In [2]:
root_path = 'D:/Data Projects/Data Analyst Imperial College/Uploaded Doc'

In [3]:
# Create a dataframe and import data
df = pd.read_csv(f'{root_path}/OULAD_raw/studentVle.csv')
df.count()

code_module          10655280
code_presentation    10655280
id_student           10655280
id_site              10655280
date                 10655280
sum_click            10655280
dtype: int64

In [4]:
# List values under the code_module to check modules
df.code_module.unique()

array(['AAA', 'BBB', 'CCC', 'DDD', 'EEE', 'FFF', 'GGG'], dtype=object)

In [5]:
# Have a general idea of the data
df.head()

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

In [6]:
# Create BBB module file
df_BBB = df[df['code_module'] == 'BBB']
df_BBB.count()

code_module          1567564
code_presentation    1567564
id_student           1567564
id_site              1567564
date                 1567564
sum_click            1567564
dtype: int64

### For some records which only have different sum_click, these records can be merged

In [7]:
# Group columns except sum_click
df_BBB_aggregated = df_BBB.groupby(by=['code_module', 
                                      'code_presentation', 
                                      'id_student', 
                                      'id_site', 
                                      'date']).sum_click.sum().reset_index()

df_BBB_aggregated.head()

  code_module code_presentation  id_student  id_site  date  sum_click
0         BBB             2013B       23629   542797    64          5
1         BBB             2013B       23629   542807    57         25
2         BBB             2013B       23629   542807    59          3
3         BBB             2013B       23629   542808    -6         12
4         BBB             2013B       23629   542808    86          5

In [8]:
# Double check the nubmer of records
df_BBB_aggregated.count()

code_module          1139085
code_presentation    1139085
id_student           1139085
id_site              1139085
date                 1139085
sum_click            1139085
dtype: int64

In [9]:
# Check the population for each material of each presentation
df_BBB_aggregated.pivot_table(index='code_presentation', values=['id_student', 'id_site'], aggfunc=lambda x: x.nunique())

                   id_site  id_student
code_presentation
2013B                  315        1537
2013J                  320        1870
2014B                  311        1294
2014J                  206        1921

In [10]:
# Save the new file to a CSV file
df_BBB_aggregated.to_csv(f'{root_path}/OULAD_BBB_clean/studentVle_BBB.csv', index=False)

In [11]:
# Save the filtered data to a new parquet file for Power BI
df_BBB.to_parquet(f'{root_path}/OULAD_BBB_clean/studentVle_BBB.parquet', index=False)