### The code is to filter module BBB for studentInfo.csv file

In [2]:
# Import pandas library
import pandas as pd

In [3]:
root_path = 'D:/Data Projects/Data Analyst Imperial College/Uploaded Doc'

In [4]:
# Create a dataframe and import data
df = pd.read_csv(f'{root_path}/OULAD_raw/studentInfo.csv')
df.count()

code_module             32593
code_presentation       32593
id_student              32593
gender                  32593
region                  32593
highest_education       32593
imd_band                31482
age_band                32593
num_of_prev_attempts    32593
studied_credits         32593
disability              32593
final_result            32593
dtype: int64

In [5]:
# List values under the code_module to check modules
df.code_module.unique()

array(['AAA', 'BBB', 'CCC', 'DDD', 'EEE', 'FFF', 'GGG'], dtype=object)

In [6]:
# Have a general idea of the data
df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [7]:
# Create BBB module file
df_BBB = df[df['code_module'] == 'BBB']
df_BBB.count()

code_module             7909
code_presentation       7909
id_student              7909
gender                  7909
region                  7909
highest_education       7909
imd_band                7846
age_band                7909
num_of_prev_attempts    7909
studied_credits         7909
disability              7909
final_result            7909
dtype: int64

In [8]:
# Show the cleansed data
df_BBB.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
748,BBB,2013B,23629,F,East Anglian Region,Lower Than A Level,20-30%,0-35,2,60,N,Fail
749,BBB,2013B,25107,F,East Anglian Region,Lower Than A Level,20-30%,0-35,0,120,N,Pass
750,BBB,2013B,27891,M,Scotland,Lower Than A Level,0-10%,0-35,2,120,Y,Withdrawn
751,BBB,2013B,29144,M,South Region,Lower Than A Level,60-70%,0-35,0,120,N,Fail
752,BBB,2013B,31663,M,North Region,A Level or Equivalent,30-40%,35-55,0,60,N,Pass

In [9]:
# Save the filtered data to a new CSV file
df_BBB.to_csv(f'{root_path}/OULAD_BBB_clean/studentInfo_BBB.csv', index=False)

In [10]:
# Save the filtered data to a new parquet file for Power BI
df_BBB.to_parquet(f'{root_path}/OULAD_BBB_clean/studentInfo_BBB.parquet', index=False)