### The code is to filter module BBB for courses.csv file

In [1]:
# Import pandas library
import pandas as pd

In [2]:
root_path = 'D:/Data Projects/Data Analyst Imperial College/Uploaded Doc'

In [3]:
# Create a dataframe and import data
df = pd.read_csv(f'{root_path}/OULAD_raw/courses.csv')
df.count()

code_module                   22
code_presentation             22
module_presentation_length    22
dtype: int64

In [4]:
# List values under the code_module to check modules
df.code_module.unique()

array(['AAA', 'BBB', 'CCC', 'DDD', 'EEE', 'FFF', 'GGG'], dtype=object)

In [5]:
# Have a general idea of the data
df.head()

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [6]:
# Create BBB module file
df_BBB = df[df['code_module'] == 'BBB']
df_BBB.count()

code_module                   4
code_presentation             4
module_presentation_length    4
dtype: int64

In [7]:
# Show the cleansed data
df_BBB.head()

  code_module code_presentation  module_presentation_length
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240
5         BBB             2014B                         234

In [8]:
# Save the filtered data to a new CSV file
df_BBB.to_csv(f'{root_path}/OULAD_BBB_clean/courses_BBB.csv', index=False)

In [9]:
# Save the filtered data to a new parquet file for Power BI
df_BBB.to_parquet(f'{root_path}/OULAD_BBB_clean/courses_BBB.parquet', index=False)